{
  "extends": "airbnb-base",
  "rules": {
    "func-names": ["error", "never"],
    "arrow-body-style": ["error", "always"],
    "object-curly-newline": ["error", { "consistent": true }],
    "no-console": 0,
    "no-plusplus": 0,
    "consistent-return": 0,
    "radix": 0
  },
  "env": {
    "jest": true
  }
}
